beautifulsoup4
configparser
certifi
cycler
dask
decorator
entrypoints
google-apputils
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-core
matplotlib
MarkupSafe
mistune
numpy
nbconvert
nbformat
networkx
notebook
Pillow
python-dateutil
pyparsing
pytz
requests
scipy
wget
pyzmq
python-dateutil
python-gflags
tornado
traitlets
Werkzeug
widgetsnbextension
subprocess
ipykernel
ipython
ipython-genutils
ipywidgets
pathlib2
scikit-image
scikit-learn
selenium
